.overflow-y{
  overflow-y:scroll;
  height:80%;
}
body{
  overflow:hidden;
}
.class-view-display-endpoint div{
  background:#faa;
  margin:5px;
  text-align:center;
}
.class-view-display-box div{
  background:#aff;
  margin:5px;
  text-align:center;
}
.unoverflow-x{
  overflow-x:hidden;
}
.hide-me{
  display:none;
}
